body {
  background: url("https://cdn130.picsart.com/251893094006202.jpg?r1024x1024");
  background-repeat:no-repeat;
  background-size:cover;
}
h2 {
  font-family: georgia;
}

p{
  font-family: georgia;
}
h1{
  font-family: georgia;
  font-size: 40px
}

.button:hover{
  background-color: #555555;
  color: white;
}
