h1{
  color: black;
  font-size: 65px;
}

body {
  background: url("https://i.pinimg.com/originals/21/a6/a8/21a6a8307359a3c5977ed0321777f672.jpg");
  background-repeat:no-repeat;

  background-size:cover;
}
h2{
  text-align: center;
  font-family: georgia;
}
.button:hover{
  background-color: #555555;
  color: white;
}
